.three-dots-container {
	position: relative;
	display: inline-block;
	font-size: 16px;
}
.three-dots-container .dots span {
	opacity: 0;
	animation: threeDotsAnimation 1.5s infinite;
}
.three-dots-container .dots span:nth-child(1) {
	animation-delay: 0s;
}
.three-dots-container .dots span:nth-child(2) {
	animation-delay: 0.3s;
}
.three-dots-container .dots span:nth-child(3) {
	animation-delay: 0.6s;
}
@keyframes threeDotsAnimation {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
